In [1]:
import pandas as pd

df = pd.read_csv("diagnoses.csv")
df

     diagnosis_id diagnosis_code   description
0               1           D005      COVID-19
1               2           D004  Hypertension
2               3           D002           Flu
3               4           D004      COVID-19
4               5           D002      COVID-19
..            ...            ...           ...
121            61           D005        Asthma
122           117           D003        Asthma
123            19           D002      Diabetes
124             5           D002      COVID-19
125            63           D001      Diabetes

[126 rows x 3 columns]

In [2]:
df = df.drop_duplicates()
df

     diagnosis_id diagnosis_code   description
0               1           D005      COVID-19
1               2           D004  Hypertension
2               3           D002           Flu
3               4           D004      COVID-19
4               5           D002      COVID-19
..            ...            ...           ...
115           116           D005        Asthma
116           117           D003        Asthma
117           118           D005           Flu
118           119           D003           Flu
119           120           D003      COVID-19

[120 rows x 3 columns]

In [3]:
from sklearn.impute import SimpleImputer

code_imputer = SimpleImputer(strategy="most_frequent")
df.loc[:, "diagnosis_code"] = code_imputer.fit_transform(df[["diagnosis_code"]])
df

     diagnosis_id diagnosis_code   description
0               1           D005      COVID-19
1               2           D004  Hypertension
2               3           D002           Flu
3               4           D004      COVID-19
4               5           D002      COVID-19
..            ...            ...           ...
115           116           D005        Asthma
116           117           D003        Asthma
117           118           D005           Flu
118           119           D003           Flu
119           120           D003      COVID-19

[120 rows x 3 columns]

In [4]:
desc_imputer = SimpleImputer(strategy="most_frequent")
df.loc[:, "description"] = desc_imputer.fit_transform(df[["description"]])
df

     diagnosis_id diagnosis_code   description
0               1           D005      COVID-19
1               2           D004  Hypertension
2               3           D002           Flu
3               4           D004      COVID-19
4               5           D002      COVID-19
..            ...            ...           ...
115           116           D005        Asthma
116           117           D003        Asthma
117           118           D005           Flu
118           119           D003           Flu
119           120           D003      COVID-19

[120 rows x 3 columns]

In [5]:
df = df[df["diagnosis_code"] != "XXX"]
df

     diagnosis_id diagnosis_code   description
0               1           D005      COVID-19
1               2           D004  Hypertension
2               3           D002           Flu
3               4           D004      COVID-19
4               5           D002      COVID-19
..            ...            ...           ...
115           116           D005        Asthma
116           117           D003        Asthma
117           118           D005           Flu
118           119           D003           Flu
119           120           D003      COVID-19

[118 rows x 3 columns]

In [6]:
df.loc[:, "description"] = df["description"].str.strip().str.title()
df

     diagnosis_id diagnosis_code   description
0               1           D005      Covid-19
1               2           D004  Hypertension
2               3           D002           Flu
3               4           D004      Covid-19
4               5           D002      Covid-19
..            ...            ...           ...
115           116           D005        Asthma
116           117           D003        Asthma
117           118           D005           Flu
118           119           D003           Flu
119           120           D003      Covid-19

[118 rows x 3 columns]

In [7]:
df.loc[:, "description"] = df["description"].str.replace("Unk", "Unknown")
df

     diagnosis_id diagnosis_code   description
0               1           D005      Covid-19
1               2           D004  Hypertension
2               3           D002           Flu
3               4           D004      Covid-19
4               5           D002      Covid-19
..            ...            ...           ...
115           116           D005        Asthma
116           117           D003        Asthma
117           118           D005           Flu
118           119           D003           Flu
119           120           D003      Covid-19

[118 rows x 3 columns]

In [8]:
df = df.astype({
    "diagnosis_id": "int",
    "diagnosis_code": "str",
    "description": "str"
})

In [9]:
print("Cleaned Dataset:\n", df.head())

Cleaned Dataset:
    diagnosis_id diagnosis_code   description
0             1           D005      Covid-19
1             2           D004  Hypertension
2             3           D002           Flu
3             4           D004      Covid-19
4             5           D002      Covid-19

In [10]:
cleaned_diagnoses = "diagnoses_cleaned.csv"
df.to_csv(cleaned_diagnoses, index=False)